.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;
}

.stadium {
  width: 100%;
  border: 3px;
}

.title {
  color: #121212;
}

.desc {
  font-style: italic;
}

.email {
  padding: 5px 4px;
  text-align: center;
}

.btn-join {
  margin: 10px 0px 15px 0px;
  padding: 5px 55px;
  background-color: #121212;
  color: white;
}
